@font-face {
    font-family:Lobster;
    src: url(/font/lobster.ttf);
}

*{
    font-style: oblique;
}

#content{
    min-height: 600px;
}

.brand {
    font-family: Lobster!important;
    font-style:normal;
}

.navbar ul li a{
    font-family: Lobster!important;
    font-style:normal;
}

.breadcrumb{
    background: none;
    font-family: Lobster!important;
    font-size: 1.6em;
}
.breadcrumb a{
    color: white;
}

.breadcrumb a:hover{
    color: black;
    text-decoration: none;
}
.breadcrumb p{
    color: black;
}

.breadcrumb li a{
    font-style: normal;
}
#footer .breadcrumb .divider{
    background: none;
    border-bottom: none!important;
}


#RegistrationForm span {
    padding-right:10px;
}
#RegistrationForm #submitbutton {
    padding:5px;
    border-radius: 3px;
}

#navBarSearch{
    margin-top: 10px;
    margin-left: 50px;
}